* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.head {
  height: 100vh;
  background: -webkit-gradient(linear, left top, right top, from(#e8efff), to(#ffffff));
  background: linear-gradient(90deg, #e8efff, #ffffff);
  position: relative;
  overflow: hidden;
}

.splat {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #9ddee549;
  width: 350px;
  height: 350px;
  border-radius: 30%;
}

.splat:after {
  content: '';
  width: 1000px;
  height: 500%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
          backdrop-filter: blur(16px) saturate(180%);
  border-radius: 12px;
  border: none;
}

.takeOffCOntainer {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 500px;
  max-width: 95%;
  -webkit-animation: takeOffCOntainer 20s ease-in-out 1s infinite alternate;
          animation: takeOffCOntainer 20s ease-in-out 1s infinite alternate;
}

.cash {
  width: 12%;
  position: absolute;
  bottom: 20px;
  left: 30px;
  -webkit-animation: bounce 3s infinite alternate;
          animation: bounce 3s infinite alternate;
}

.hand {
  width: 25%;
  position: absolute;
  bottom: -20px;
  right: 50px;
  -webkit-animation: bounce 3s infinite alternate;
          animation: bounce 3s infinite alternate;
}

.check {
  width: 20%;
  position: absolute;
  right: 2%;
  top: 50px;
  -webkit-animation: bounceX 3s infinite alternate;
          animation: bounceX 3s infinite alternate;
}

.mainSection {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
  width: 1000px;
  max-width: 95%;
  margin-inline: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mainSection .left {
  width: 500px;
  max-width: 95%;
}

.mainSection .left h1 {
  font-size: 3rem;
  color: #000;
}

@media (max-width: 768px) {
  .mainSection .left h1 {
    font-size: 2rem;
  }
}

.mainSection .left p {
  color: #292A2B;
  font-weight: 400;
  font-size: 1.1rem;
}

@-webkit-keyframes takeOffCOntainer {
  0% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  10% {
    -webkit-transform: translate(-55%, -50%);
            transform: translate(-55%, -50%);
  }
  20% {
    -webkit-transform: translate(-50%, -55%);
            transform: translate(-50%, -55%);
  }
  30% {
    -webkit-transform: translate(-55%, -40%);
            transform: translate(-55%, -40%);
  }
  40% {
    -webkit-transform: translate(-53%, -45%);
            transform: translate(-53%, -45%);
  }
  50% {
    -webkit-transform: translate(-58%, -48%);
            transform: translate(-58%, -48%);
  }
  60% {
    -webkit-transform: translate(-50%, -48%);
            transform: translate(-50%, -48%);
  }
  70% {
    -webkit-transform: translate(-48%, -60%);
            transform: translate(-48%, -60%);
  }
  80% {
    -webkit-transform: translate(-43%, -53%);
            transform: translate(-43%, -53%);
  }
  90% {
    -webkit-transform: translate(-56%, -53%);
            transform: translate(-56%, -53%);
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@keyframes takeOffCOntainer {
  0% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  10% {
    -webkit-transform: translate(-55%, -50%);
            transform: translate(-55%, -50%);
  }
  20% {
    -webkit-transform: translate(-50%, -55%);
            transform: translate(-50%, -55%);
  }
  30% {
    -webkit-transform: translate(-55%, -40%);
            transform: translate(-55%, -40%);
  }
  40% {
    -webkit-transform: translate(-53%, -45%);
            transform: translate(-53%, -45%);
  }
  50% {
    -webkit-transform: translate(-58%, -48%);
            transform: translate(-58%, -48%);
  }
  60% {
    -webkit-transform: translate(-50%, -48%);
            transform: translate(-50%, -48%);
  }
  70% {
    -webkit-transform: translate(-48%, -60%);
            transform: translate(-48%, -60%);
  }
  80% {
    -webkit-transform: translate(-43%, -53%);
            transform: translate(-43%, -53%);
  }
  90% {
    -webkit-transform: translate(-56%, -53%);
            transform: translate(-56%, -53%);
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@-webkit-keyframes bounceX {
  from {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  to {
    -webkit-transform: translateX(-5%);
            transform: translateX(-5%);
  }
}

@keyframes bounceX {
  from {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  to {
    -webkit-transform: translateX(-5%);
            transform: translateX(-5%);
  }
}

@-webkit-keyframes bounce {
  from {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  to {
    -webkit-transform: translateY(-5%);
            transform: translateY(-5%);
  }
}

@keyframes bounce {
  from {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  to {
    -webkit-transform: translateY(-5%);
            transform: translateY(-5%);
  }
}
/*# sourceMappingURL=head.css.map */