@import "./settings//mediaQuery";

.howItWoks {
  width: 1150px;
  max-width: 95%;
  margin: auto;
  overflow-x: hidden;

  .actions {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
  }

  .buyer,
  .seller {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 2em;

    .left {
      width: 500px;
      max-width: 48%;

      .texts {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 1.5em;

        .mainText {
          width: 75%;
          margin-left: 1em;
          margin-top: 0;
          color: rgba(0, 0, 0, 0.6);
          font-size: .9rem;
        }
      }
    }

    .right {
      width: 500px;
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;

      .rightCard {
        width: 80%;
        height: 440px;
        border-radius: 20px;
        transition: .24s all ease;
        overflow: hidden;

        &:hover {
          scale: .9;
          transform: scale(.98)
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: .24s all ease;

          &:hover {
            scale: .9;
            transform: scale(1.08)
          }
        }
      }
    }
  }

  .buyer,
  .seller {
    @include mobile {
      flex-direction: column-reverse;
      justify-content: flex-start;
      align-items: flex-start;
      background-color: #6200EA;
      border-radius: 20px;

      .right {
        width: 100%;

        .rightCard {
          width: 100%;
        }
      }

      .left {
        max-width: 100%;
        padding: 1em .5em;

        .texts {
          .mainText {
            margin-top: -.1em;
            color: #fff
          }
        }
      }
    }
  }
}
