@import "./settings//mediaQuery";

.IntroducingTrustpaddi {
  width: 1150px;
  max-width: 95%;
  margin: auto;

  .introductoction {
    text-align: center;

    p {
      margin-bottom: 2em;
      color: rgba(0, 0, 0, 0.7);

      span {
        font-weight: 600;
      }
    }
  }

  .perks {
    margin-top: 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;

    .perksCard {
      width: 23%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;


      @include mobile {
        width: 100%;
      }

      @media only screen and (device-width: 640px) and (device-height: 384px) and (-webkit-min-device-pixel-ratio: 1.25) {
        width: 46%
      }

      @media only screen and (device-width: 640px) and (device-height: 360px) and (-webkit-min-device-pixel-ratio: 2) {
        width: 46%
      }

      @media only screen and (device-width: 732px) and (device-height: 412px) and (-webkit-min-device-pixel-ratio: 2.625) {
        width: 46%
      }

      @media only screen and (device-width: 533px) and (device-height: 320px) and (-webkit-min-device-pixel-ratio: 1.5) {
        width: 46%
      }

      @media only screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
        width: 46%
      }

      @media only screen and (device-width: 480px) and (device-height: 320px) and (-webkit-min-device-pixel-ratio: 2) {
        width: 46%
      }

      @media only screen and (device-width: 731px) and (device-height: 411px) and (-webkit-min-device-pixel-ratio: 2.625) {
        width: 46%
      }

      @media only screen and (device-width: 568px) and (device-height: 320px) and (-webkit-min-device-pixel-ratio: 2) {
        width: 46%
      }

      @media only screen and (device-width: 667px) and (device-height: 375px) and (-webkit-min-device-pixel-ratio: 2) {
        width: 46%
      }

      @media only screen and (device-width: 736px) and (device-height: 414px) and (-webkit-min-device-pixel-ratio: 3) {
        width: 46%
      }

      @media only screen and (device-width: 540px) and (device-height: 720px) and (-webkit-min-device-pixel-ratio: 2.5) {
        width: 46%
      }

      @media only screen and (device-width: 720px) and (device-height: 540px) and (-webkit-min-device-pixel-ratio: 2.5) {
        width: 46%
      }

      @media only screen and (device-width: 720px) and (device-height: 1114px) and (-webkit-min-device-pixel-ratio: 2.5) {
        width: 46%
      }

      @media only screen and (device-width: 653px) and (device-height: 280px) and (-webkit-min-device-pixel-ratio: 3) {
        width: 46%
      }

      @media only screen and (device-width: 717px) and (device-height: 512px) and (-webkit-min-device-pixel-ratio: 3) {
        width: 46%
      }

      @media only screen and (device-width: 512px) and (device-height: 717px) and (-webkit-min-device-pixel-ratio: 3) {
        width: 46%
      }

      img {
        width: 30%
      }

      .title {
        color: rgba(0, 0, 0, 0.8);
        font-size: 1.3rem;
        text-align: center;
      }

      .body {
        font-size: .9rem;
        color: rgba(0, 0, 0, 0.7);
        text-align: center;
        margin-top: 0;
      }
    }
  }
}
