/* ----------- iPhone 4 and 4S ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- iPhone 6+, 7+ and 8+ ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- iPhone X ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- Galaxy S3 ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- Galaxy S4, S5 and Note 3 ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- Galaxy S6 ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- Google Pixel ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- Google Pixel XL ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- HTC One ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- Windows Phone ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- iPad 1, 2, Mini and Air ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- iPad 3, 4 and Pro 9.7" ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- iPad Pro 10.5" ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
/* ----------- iPad Pro 12.9" ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
/* ----------- Galaxy Tab 2 ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- Galaxy Tab S ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- Nexus 7 ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- Nexus 9 ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- Kindle Fire HD 7" ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- Kindle Fire HD 8.9" ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- Non-Retina Screens ----------- */
/* ----------- Retina Screens ----------- */
/* ----------- Apple Watch ----------- */
/* ----------- Moto 360 Watch ----------- */
.IntroducingTrustpaddi {
  width: 1150px;
  max-width: 95%;
  margin: auto;
}

.IntroducingTrustpaddi .introductoction {
  text-align: center;
}

.IntroducingTrustpaddi .introductoction p {
  margin-bottom: 2em;
  color: rgba(0, 0, 0, 0.7);
}

.IntroducingTrustpaddi .introductoction p span {
  font-weight: 600;
}

.IntroducingTrustpaddi .perks {
  margin-top: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.IntroducingTrustpaddi .perks .perksCard {
  width: 23%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 450px) {
  .IntroducingTrustpaddi .perks .perksCard {
    width: 100%;
  }
}

@media only screen and (device-width: 640px) and (device-height: 384px) and (-webkit-min-device-pixel-ratio: 1.25) {
  .IntroducingTrustpaddi .perks .perksCard {
    width: 46%;
  }
}

@media only screen and (device-width: 640px) and (device-height: 360px) and (-webkit-min-device-pixel-ratio: 2) {
  .IntroducingTrustpaddi .perks .perksCard {
    width: 46%;
  }
}

@media only screen and (device-width: 732px) and (device-height: 412px) and (-webkit-min-device-pixel-ratio: 2.625) {
  .IntroducingTrustpaddi .perks .perksCard {
    width: 46%;
  }
}

@media only screen and (device-width: 533px) and (device-height: 320px) and (-webkit-min-device-pixel-ratio: 1.5) {
  .IntroducingTrustpaddi .perks .perksCard {
    width: 46%;
  }
}

@media only screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  .IntroducingTrustpaddi .perks .perksCard {
    width: 46%;
  }
}

@media only screen and (device-width: 480px) and (device-height: 320px) and (-webkit-min-device-pixel-ratio: 2) {
  .IntroducingTrustpaddi .perks .perksCard {
    width: 46%;
  }
}

@media only screen and (device-width: 731px) and (device-height: 411px) and (-webkit-min-device-pixel-ratio: 2.625) {
  .IntroducingTrustpaddi .perks .perksCard {
    width: 46%;
  }
}

@media only screen and (device-width: 568px) and (device-height: 320px) and (-webkit-min-device-pixel-ratio: 2) {
  .IntroducingTrustpaddi .perks .perksCard {
    width: 46%;
  }
}

@media only screen and (device-width: 667px) and (device-height: 375px) and (-webkit-min-device-pixel-ratio: 2) {
  .IntroducingTrustpaddi .perks .perksCard {
    width: 46%;
  }
}

@media only screen and (device-width: 736px) and (device-height: 414px) and (-webkit-min-device-pixel-ratio: 3) {
  .IntroducingTrustpaddi .perks .perksCard {
    width: 46%;
  }
}

@media only screen and (device-width: 540px) and (device-height: 720px) and (-webkit-min-device-pixel-ratio: 2.5) {
  .IntroducingTrustpaddi .perks .perksCard {
    width: 46%;
  }
}

@media only screen and (device-width: 720px) and (device-height: 540px) and (-webkit-min-device-pixel-ratio: 2.5) {
  .IntroducingTrustpaddi .perks .perksCard {
    width: 46%;
  }
}

@media only screen and (device-width: 720px) and (device-height: 1114px) and (-webkit-min-device-pixel-ratio: 2.5) {
  .IntroducingTrustpaddi .perks .perksCard {
    width: 46%;
  }
}

@media only screen and (device-width: 653px) and (device-height: 280px) and (-webkit-min-device-pixel-ratio: 3) {
  .IntroducingTrustpaddi .perks .perksCard {
    width: 46%;
  }
}

@media only screen and (device-width: 717px) and (device-height: 512px) and (-webkit-min-device-pixel-ratio: 3) {
  .IntroducingTrustpaddi .perks .perksCard {
    width: 46%;
  }
}

@media only screen and (device-width: 512px) and (device-height: 717px) and (-webkit-min-device-pixel-ratio: 3) {
  .IntroducingTrustpaddi .perks .perksCard {
    width: 46%;
  }
}

.IntroducingTrustpaddi .perks .perksCard img {
  width: 30%;
}

.IntroducingTrustpaddi .perks .perksCard .title {
  color: rgba(0, 0, 0, 0.8);
  font-size: 1.3rem;
  text-align: center;
}

.IntroducingTrustpaddi .perks .perksCard .body {
  font-size: .9rem;
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
  margin-top: 0;
}
/*# sourceMappingURL=IntroducingTrustpaddi.css.map */