.nav {
  background-color: transparent;
  backdrop-filter: blur(10px) saturate(180%);

  .mobileMenuButton {
    display: none
  }

  .logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .logoImg {
      width: 30px;
    }

    span {
      font-weight: 600;
      margin-left: .7em;
    }
  }
}
