@import "./mediaQuery";

* {
  box-sizing: border-box;
}


.auth {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;

  .rightSide {
    background-color: #001E2B;
    height: 100vh;
    position: relative;

    .img1 {
      position: absolute;
      top: -3em;
      right: -1em;
      width: 300px;
    }

    .img2 {
      position: absolute;
      bottom: 0em;
      right: 0em;
      width: 300px;
    }

    .img3 {
      position: absolute;
      bottom: 0em;
      left: 0em;
      width: 300px;
    }
  }

  .rightSideText {
    width: 500px;
    max-width: 95%;
    position: inherit;
    z-index: 10;
  }
}