.app_bar {
    background: rgba(255, 255, 255, 0.25) !important;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37) !important;
    backdrop-filter: blur(10px) !important;
    .links {
        a {
            text-decoration: none;
            outline: none;
            color: #150F3F;
            margin: 0 1em;
        }
    }
}

.active_route {
    color: #4169e2 !important;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        bottom: -2%;
        left: 0;
        height: 2px;
        width: 50%;
        background: #4169e2;
        z-index: 1;
        animation: scale-up-hor-left 0.4s ease-in-out both;
        @keyframes scale-up-hor-left {
            0% {
                transform: scaleX(0.4);
                transform-origin: 0% 0%;
            }
            100% {
                transform: scaleX(1);
                transform-origin: 0% 0%;
            }
        }
    }
}