/* ----------- iPhone 4 and 4S ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- iPhone 6+, 7+ and 8+ ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- iPhone X ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- Galaxy S3 ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- Galaxy S4, S5 and Note 3 ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- Galaxy S6 ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- Google Pixel ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- Google Pixel XL ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- HTC One ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- Windows Phone ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- iPad 1, 2, Mini and Air ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- iPad 3, 4 and Pro 9.7" ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- iPad Pro 10.5" ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
/* ----------- iPad Pro 12.9" ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
/* ----------- Galaxy Tab 2 ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- Galaxy Tab S ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- Nexus 7 ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- Nexus 9 ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- Kindle Fire HD 7" ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- Kindle Fire HD 8.9" ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- Non-Retina Screens ----------- */
/* ----------- Retina Screens ----------- */
/* ----------- Apple Watch ----------- */
/* ----------- Moto 360 Watch ----------- */
.signup {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.hero {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phone {
  width: 70%;
  height: auto;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 0em;
  margin-top: 2em;
}

.social p {
  font-size: 0.875rem;
  color: #555555;
  letter-spacing: 0.42px;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .social p {
    display: none;
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
  .social p {
    display: initial;
  }
}

.social .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social .buttons .button {
  background: #555555 !important;
  border-radius: 10px;
  font-size: .8rem;
  padding: 0 1.3em;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  color: #fff !important;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.social .buttons .button:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-box-shadow: 0px 8px 14px 1px #757575;
          box-shadow: 0px 8px 14px 1px #757575;
}

.form {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head {
  width: 60%;
}

.head .logo {
  width: 18%;
  height: auto;
}

.text {
  font-size: 3rem;
  letter-spacing: .64px;
  color: #150F3F;
  font-weight: 300;
}

.small_text {
  font-size: .875rem;
  letter-spacing: 0.56px;
  color: #555555;
}

.inputs {
  width: 100%;
}

.inputs .input {
  width: 100%;
  height: 2.5em;
  margin-bottom: 1em;
  background: #EFF0F7;
  border-radius: 8px;
}

.inputs .input input {
  height: 100%;
  width: 100%;
  background: none;
  border: none;
  border-radius: 8px;
  outline: none;
  padding: 0 1.0625rem;
  font-size: 0.875rem;
  color: #555555;
}

.inputs .input input::-webkit-input-placeholder {
  color: #4169E2;
  opacity: 0.5;
  letter-spacing: 0.56px;
}

.inputs .input input:-ms-input-placeholder {
  color: #4169E2;
  opacity: 0.5;
  letter-spacing: 0.56px;
}

.inputs .input input::-ms-input-placeholder {
  color: #4169E2;
  opacity: 0.5;
  letter-spacing: 0.56px;
}

.inputs .input input::placeholder {
  color: #4169E2;
  opacity: 0.5;
  letter-spacing: 0.56px;
}

.inputs .input select {
  width: 100%;
  height: 100%;
  padding: 0 1.0625rem;
  outline: none;
  color: #4169E2;
  opacity: 0.5;
  letter-spacing: 0.56px;
}

.inputs .input_group {
  height: 3em;
  width: 100%;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.inputs .input_group input {
  width: 1.8em;
  background: #EFF0F7;
  border-radius: 8px;
  font-size: 2rem;
  text-align: center;
}

.inputs .input_group input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.inputs .phone_input {
  position: relative;
  height: 2.5em;
}

.inputs .phone_input .country_code {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 8px 0 0 8px;
  background: #EFF0F7;
  outline: none;
  z-index: 1;
}

.inputs .phone_input input {
  position: absolute;
  right: 0;
  width: 80%;
}

.inputs .phone_input input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.inputs .password {
  position: relative;
}

.inputs .password input {
  position: absolute;
  left: 0;
  top: 0;
  outline: none;
  padding-right: 4em;
}

.inputs .password .icon {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  border-radius: 8px;
  font-size: .8rem;
  padding: 0 1.5em;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.inputs .other_signup {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1em;
}

.inputs .other_signup a {
  text-decoration: none;
  font-size: 0.875rem;
  color: #4169E2;
}

.inputs .other_signup_signin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inputs .other_signup_signin a {
  text-decoration: none;
  font-size: 0.875rem;
  color: #4169E2;
  height: 2.5em;
}

.inputs .submit_button {
  width: 100%;
  height: 2.5em !important;
  background: #4169E2 !important;
  color: #fff;
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.inputs .button_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inputs .button_group .button {
  width: 80%;
  height: 3em;
  background: #4169E2;
  color: #fff;
  text-transform: capitalize;
  border-radius: 8px;
}

.inputs .button_group .small_button {
  width: 10%;
  height: 3em;
  background: #EFF0F7;
  color: #4169E2;
  border-radius: 8px;
}

.inputs .signup_route {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.inputs .signup_route p {
  font-size: 0.875rem;
  font-size: #555555;
}

.inputs .signup_route p a {
  color: #4169E2;
  text-decoration: none;
}
/*# sourceMappingURL=auth.css.map */