@import "./settings/mediaQuery";
.signup {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.hero {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

// .signup {
//     background: #FFFFFF 0% 0% no-repeat padding-box;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     height: 100vh;
//     @media only screen and (min-device-width: 1904px) and (max-device-width: 2652px) and (-webkit-min-device-pixel-ratio: 2) {
//         justify-content: space-around;
//     }
//     @include mobile {
//         flex-direction: column;
//         height: initial;
//     }
//     @include iPad_pro_12point9_both {
//         padding: 0 !important;
//         flex-direction: row;
//         justify-content: space-between;
//     }
//     @include galaxy_tab_2_both {
//         flex-direction: column;
//     }
// }
// .hero {
//     width: 40%;
//     height: 100%;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     padding-bottom: 2em;
//     @include mobile {
//         width: 100%;
//         height: 100vh;
//         justify-content: center;
//         align-items: center;
//     }
//     @include iPad_1_2_mini_air_both {
//         width: 100%;
//         justify-content: center;
//         align-items: center;
//     }
//     @include iPad_pro_12point9_both {
//         width: 50%;
//         position: relative;
//     }
//     @include galaxy_tab_2_both {
//         width: 100%;
//         justify-content: center;
//         align-items: center;
//     }
//     @media only screen and (min-device-width: 1904px) and (max-device-width: 2652px) and (-webkit-min-device-pixel-ratio: 2) {
//         margin-top: -2em;
//     }
//     .phone {
//         height: auto;
//         width: 90%;
//         margin-left: -10px;
//         opacity: 0;
//         @include mobile {
//             width: 90%;
//         }
//         @include iPad_1_2_mini_air_both {
//             width: 80%;
//         }
//         @include iPad_pro_12point9_both {
//             width: 100%;
//         }
//         @include galaxy_tab_2_both {
//             width: 80%;
//         }
//         @media only screen and (min-device-width: 1904px) and (max-device-width: 2652px) and (-webkit-min-device-pixel-ratio: 2) {
//             width: 60%;
//         }
//         @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
//             width: 60%;
//         }
//     }
// }
// .social {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     margin-top: 4em;
//     margin-bottom: -10px;
//     opacity: 0;
//     @media only screen and (min-device-width: 1904px) and (max-device-width: 2652px) and (-webkit-min-device-pixel-ratio: 2) {
//         margin-top: 1em;
//     }
//     @include iPad_1_2_mini_air_both {
//         position: fixed;
//         right: 0;
//         top: 50%;
//         transform: translate(0, -100%);
//         border-radius: 20px 0 0 20px;
//         background: #ffffff;
//         box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
//     }
//     @include iPad_pro_12point9_both {
//         position: initial;
//         transform: initial;
//         border-radius: initial;
//         box-shadow: initial;
//         background: inherit;
//     }
//     p {
//         font-size: 0.875rem;
//         color: #555555;
//         letter-spacing: 0.42px;
//         @include iPad_1_2_mini_air_both {
//             display: none;
//         }
//         @include iPad_pro_12point9_both {
//             display: initial;
//         }
//     }
//     .buttons {
//         display: flex;
//         @include iPad_1_2_mini_air_both {
//             flex-direction: column;
//             // padding: 1em;
//         }
//         @include iPad_pro_12point9_both {
//             flex-direction: row;
//         }
//         .button {
//             background: #555555 !important;
//             border-radius: 10px;
//             font-size: .8rem;
//             padding: 0 1.3em;
//             transition: .3s ease-in-out;
//             color: #fff !important;
//             @include iPad_1_2_mini_air_both {
//                 margin: 1em !important;
//             }
//         }
//     }
// }
// .form {
//     width: 50%;
//     height: 100%;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: flex-end;
//     padding-bottom: 2em;
//     opacity: 0;
//     margin-right: 10px;
//     @include mobile {
//         width: 100%;
//         padding-bottom: 0;
//         margin-top: 3em;
//     }
//     @include iPad_1_2_mini_air_both {
//         width: 80%;
//     }
//     @include iPad_pro_12point9_both {
//         width: 50% !important;
//         justify-content: center;
//         align-items: flex-end;
//     }
//     @include galaxy_tab_2_both {
//         width: 80%;
//         align-items: center;
//         margin-top: 4em;
//     }
// }
// .head {
//     width: 70%;
//     @include mobile {
//         width: 100%;
//         @include mobile {
//             display: flex;
//             flex-direction: column;
//         }
//     }
//     @include iPad_pro_12point9_both {
//         width: 90%;
//     }
//     @include galaxy_tab_2_both {
//         justify-content: center;
//         align-items: center;
//     }
//     .logo {
//         width: 4em;
//         height: auto;
//         @include iPad_pro_12point9_both {
//             width: 6em;
//         }
//     }
//     .text {
//         font-size: 3rem;
//         letter-spacing: 0.64px;
//         color: #150F3F;
//         font-weight: 300;
//         @include iPad_pro_12point9_both {
//             font-size: 3.5rem;
//         }
//     }
//     .small_text {
//         font-size: 0.875rem;
//         letter-spacing: 0.56px;
//         color: #555555;
//         @include iPad_pro_12point9_both {
//             font-size: 1rem;
//         }
//     }
//     .inputs {
//         width: 100%;
//         .input {
//             height: 2.5em;
//             margin-bottom: 1em;
//             background: #EFF0F7;
//             border-radius: 8px;
//             width: 100%;
//             @include mobile {
//                 height: 3em;
//             }
//             @include iPad_1_2_mini_air_both {
//                 height: 3.4em;
//             }
//             input {
//                 height: 100%;
//                 width: 100%;
//                 background: none;
//                 border: none;
//                 outline: none;
//                 padding: 0 1.0625rem;
//                 font-size: 0.875rem;
//                 color: #555555;
//                 &::placeholder {
//                     color: #4169E2;
//                     opacity: 0.5;
//                     letter-spacing: 0.56px;
//                 }
//             }
//             select {
//                 width: 100%;
//                 height: 100%;
//                 padding: 0 1.0625rem;
//                 outline: none;
//                 color: #4169E2;
//                 opacity: 0.5;
//                 letter-spacing: 0.56px;
//             }
//         }
//         .input_group {
//             height: 3em;
//             width: 100%;
//             background: #fff;
//             display: flex;
//             justify-content: space-between;
//             input {
//                 width: 1.8em;
//                 background: #EFF0F7;
//                 border-radius: 8px;
//                 font-size: 2rem;
//                 text-align: center;
//                 &::-webkit-inner-spin-button {
//                     -webkit-appearance: none;
//                 }
//             }
//         }
//         .phone_input {
//             position: relative;
//             height: 3em;
//             .country_code {
//                 position: absolute;
//                 left: 0;
//                 height: 100%;
//                 border: none;
//                 box-shadow: none;
//                 border-radius: 8px 0 0 8px;
//                 background: #EFF0F7;
//                 outline: none;
//                 @include mobile {
//                     z-index: 1;
//                 }
//                 @include iPad_1_2_mini_air_both {
//                     height: 100% !important;
//                 }
//             }
//             input {
//                 position: absolute;
//                 right: 0;
//                 padding-left: 0em;
//                 width: 80%;
//                 @include mobile {
//                     width: 75%;
//                     padding-left: .5em;
//                     border-radius: 0 8px 8px 0;
//                 }
//                 @include iPad_1_2_mini_air_both {
//                     width: 85%;
//                 }
//                 @include iPad_pro_12point9_both {
//                     width: 79%;
//                 }
//             }
//         }
//         .password {
//             position: relative;
//             @include mobile {}
//             input {
//                 position: absolute;
//                 padding-right: 4em;
//                 outline: none;
//                 @include mobile {
//                     border-radius: 8px;
//                 }
//             }
//             .icon {
//                 position: absolute;
//                 right: 0;
//                 height: 100%;
//                 border-radius: 8px;
//                 font-size: .8rem;
//                 padding: 0 1.5em;
//                 transition: .2s ease-in-out;
//                 @include mobile {
//                     padding: 0 2em;
//                 }
//                 @include iPad_pro_12point9_both {
//                     padding: 0 2em;
//                 }
//             }
//         }
//         .other_signup {
//             width: 100%;
//             display: flex;
//             justify-content: flex-end;
//             align-items: center;
//             margin-bottom: 1em;
//             a {
//                 text-decoration: none;
//                 font-size: 0.875rem;
//                 color: #4169E2;
//             }
//         }
//         //For sign in route
//         .other_signup_signin {
//             display: flex;
//             justify-content: space-between;
//             align-items: center;
//             a {
//                 text-decoration: none;
//                 font-size: 0.875rem;
//                 color: #4169E2;
//                 height: 2.5em;
//             }
//         }
//         .submit_button {
//             width: 100%;
//             height: 3em !important;
//             background: #4169E2 !important;
//             color: #fff;
//             text-transform: capitalize;
//             font-size: 1rem;
//             font-weight: 400;
//             margin-bottom: 1rem;
//         }
//         .button_group {
//             display: flex;
//             justify-content: space-between;
//             align-items: center;
//             .button {
//                 width: 80%;
//                 height: 3em;
//                 background: #4169E2;
//                 color: #fff;
//                 text-transform: capitalize;
//                 border-radius: 8px;
//             }
//             .small_button {
//                 width: 10%;
//                 height: 3em;
//                 background: #EFF0F7;
//                 color: #4169E2;
//                 border-radius: 8px;
//             }
//         }
//         .signup_route {
//             width: 100%;
//             display: flex;
//             justify-content: center;
//             align-items: flex-end;
//             p {
//                 font-size: 0.875rem;
//                 font-size: #555555;
//                 a {
//                     color: #4169E2;
//                     text-decoration: none;
//                 }
//             }
//         }
//     }
// }