@import "./settings/mediaQuery";
.signup {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    @include mobile {
        flex-direction: column;
        height: initial;
        justify-content: flex-start;
        align-items: center;
    }
    @media only screen and (device-width: 717px) and (device-height: 512px) {
        flex-direction: row;
    }
    input[type="number"] {
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
    }
    input {
        &::placeholder {
            color: #4169E2;
            opacity: 0.5;
            letter-spacing: 0.56px;
        }
    }
    .checkbox {
        .v-label {
            font-size: .75rem !important;
            color: #4E4B66 !important;
        }
    }
}

.hero {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include mobile {
        width: 100%;
        @media only screen and (device-width: 600px) and (device-height: 1024px) {
            width: 80%;
        }
    }
}

.phone {
    width: 60%;
    height: auto;
    @include mobile {
        width: 100%;
    }
    @include galaxy_tab_2_portrait {
        width: 90%;
    }
    @media only screen and (device-width: 800px) and (device-height: 1280px) {
        width: 90%;
    }
    @media only screen and (device-width: 600px) and (device-height: 960px) {
        width: 80%;
    }
    @include iPad_1_2_mini_air_portrait {
        width: 60%;
    }
    @media only screen and (device-width: 768px) and (device-height: 1024px) {
        width: 60%;
    }
    @media only screen and (device-width: 320px) and (device-height: 568px) {
        width: 95%;
    }
    @media only screen and (device-width: 375px) and (device-height: 667px) {
        width: 95%;
    }
    @media only screen and (device-width: 414px) and (device-height: 736px) {
        width: 95%;
    }
    @media only screen and (device-width: 375px) and (device-height: 812px) {
        width: 95%;
    }
    @media only screen and (device-width: 1024px) and (device-height: 1366px) {
        width: 95%;
    }
    @media only screen and (device-width: 280px) and (device-height: 653px) {
        width: 95%;
    }
}

.social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    p {
        color: #555555;
        margin-bottom: .2em;
    }
    .buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .button {
            background: #555555 !important;
            border-radius: 10px;
            font-size: .8rem;
            padding: 0 1.3em;
            transition: .3s ease-in-out;
            color: #fff !important;
            transition: .2s ease-in-out;
            &:hover {
                transform: translateY(-2px);
                box-shadow: 0px 8px 14px 1px #969696;
            }
        }
    }
}

//FORM
.form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include mobile {
        width: 100%;
        margin-top: 3em;
    }
    @media only screen and (device-width: 600px) and (device-height: 1024px) {
        width: 80%;
    }
    .head {
        width: 60%;
        @include mobile {
            width: 95%;
        }
        @media only screen and (device-width: 600px) and (device-height: 1024px) {
            width: 100%;
        }
        @include galaxy_tab_2_portrait {
            width: 90%;
        }
        @media only screen and (device-width: 800px) and (device-height: 1280px) {
            width: 90%;
        }
        @media only screen and (device-width: 600px) and (device-height: 960px) {
            width: 80%;
        }
        @include iPad_1_2_mini_air_portrait {
            width: 60%;
        }
        @media only screen and (device-width: 768px) and (device-height: 1024px) {
            width: 60%;
        }
        @media only screen and (device-width: 320px) and (device-height: 568px) {
            width: 95%;
        }
        @media only screen and (device-width: 375px) and (device-height: 667px) {
            width: 95%;
        }
        @media only screen and (device-width: 414px) and (device-height: 736px) {
            width: 95%;
        }
        @media only screen and (device-width: 375px) and (device-height: 812px) {
            width: 95%;
        }
        @media only screen and (device-width: 1024px) and (device-height: 1366px) {
            width: 95%;
        }
        @media only screen and (device-width: 280px) and (device-height: 653px) {
            width: 95%;
        }
        img {
            width: 18%;
            height: auto;
        }
        .text {
            letter-spacing: 0.64px;
            color: #150F3F;
            font-weight: 300;
        }
    }
    .inputs {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .input {
            width: 100%;
            height: 2.5em;
            background: #EFF0F7;
            input {
                height: 100%;
                width: 100%;
                background: none;
                border: none;
                border-radius: 8px;
                outline: none;
                padding: 0 1.0625rem;
                font-size: 0.875rem;
                color: #555555;
            }
        }
        .phone_input {
            height: 2.5em;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .country_code {
                width: 25%;
                height: 100%;
                border: none;
                box-shadow: none;
                border-radius: 8px 0 0 8px;
                background: #EFF0F7;
                outline: none;
                z-index: 1;
                @media only screen and (device-width: 320px) and (device-height: 533px) {
                    width: 25%;
                }
                @media only screen and (device-width: 320px) and (device-height: 480px) {
                    width: 25%;
                }
                @media only screen and (device-width: 360px) and (device-height: 640px) {
                    width: 25%;
                }
                @media only screen and (device-width: 320px) and (device-height: 568px) {
                    width: 25%;
                }
                @media only screen and (device-width: 280px) and (device-height: 653px) {
                    width: 25%;
                }
            }
            input {
                width: 75%;
                height: 100%;
                border-radius: 0 8px 8px 0;
                background: #EFF0F7;
                @media only screen and (device-width: 320px) and (device-height: 533px) {
                    width: 75%;
                }
                @media only screen and (device-width: 320px) and (device-height: 480px) {
                    width: 75%;
                }
                @media only screen and (device-width: 320px) and (device-height: 568px) {
                    width: 75%;
                }
                @media only screen and (device-width: 280px) and (device-height: 653px) {
                    width: 75%;
                }
            }
        }
        .password {
            position: relative;
            background: #EFF0F7;
            input {
                position: absolute;
                left: 0;
                top: 0;
                outline: none;
                padding-right: 4em;
                background: transparent;
            }
            .icon {
                position: absolute;
                right: 0;
                top: 0;
                height: 100%;
                border-radius: 8px;
                font-size: .8rem;
                padding: 0 1.5em;
                transition: .2s ease-in-out;
            }
        }
        .other_signup {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            a {
                text-decoration: none;
                color: #4169E2;
            }
        }
        .other_signup_signin {
            width: 100%;
            height: 2em;
            display: flex;
            justify-content: space-between;
            align-items: center;
            a {
                text-decoration: none;
                color: #4169E2;
            }
        }
        .submit_button {
            width: 100%;
            height: 2.5em !important;
            background: #4169E2 !important;
            color: #fff;
            text-transform: capitalize;
            font-size: 1rem;
            font-weight: 400;
        }
        //FOR OTP
        .input_group {
            height: 3em;
            width: 100%;
            background: #fff;
            display: flex;
            justify-content: space-between;
            input {
                width: 1.8em;
                background: #EFF0F7;
                border-radius: 8px;
                font-size: 2rem;
                text-align: center;
            }
        }
        .button_group {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            .button {
                width: 80%;
                height: 3em;
                background: #4169E2;
                color: #fff;
                text-transform: capitalize;
                border-radius: 8px;
            }
            .small_button {
                width: 10%;
                height: 3em;
                background: #EFF0F7;
                color: #4169E2;
                border-radius: 8px;
            }
        }
    }
    .signup_route {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        p {
            font-size: #555555;
            a {
                color: #4169E2;
                text-decoration: none;
            }
        }
    }
}