.wrapper {
  width: 100%;
  margin-top: 100px !important;
}
.custom-style {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}
.contentBody {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-body {
  margin-bottom: 40px !important;
}
.custom-card {
  border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 240px;
  height: 102px;
}
.activeClass {
  background-color: rgba(65, 106, 226, 0.1) !important;
  border-radius: 10px !important;
}
.text-color {
  color: rgba(65, 106, 226) !important;
  font-family: "Times New Roman", Times, serif;
}
.content-writing {
  text-align: left !important;
  font: normal normal normal 14px/30px "Times New Roman", Times, serif !important;
  letter-spacing: 0.42px;
  color: #150f3f !important;
  opacity: 1;
  position: fixed;
  font-size: 14px !important;
  padding-left: 90px;

  /* margin-left: 40px; */
}
.content-writing-small {
  display: none;
}
.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 2360px;
  justify-content: space-between;
}
.contact-wrapper-small {
  display: none;
}
.contact-main-body {
  align-self: flex-end;
}
.contact-wrapper {
  display: flex;
  margin-top: 320px;
  position: fixed;
  left: 55%;
}
.input {
  width: 448px;
  height: 131px;
  border: 1px solid #bebfc5;
  border-radius: 10px;
  align-self: flex-end;
  opacity: 1;
  text-align: left;
  font: normal normal medium 14px/18px Montserrat;
  letter-spacing: 0.56px;
  color: #555555;
  opacity: 0.5;
}
.childBody {
  margin-left: 20px;

  text-align: center;
}
.childbtn1 {
  height: 58px;
  background: rgba(65, 106, 226, 0.1) 0% 0% no-repeat padding-box;
  border-radius: 10px;

  margin-bottom: 10px;
}
.childbtn2 {
  width: 68px;
  height: 58px;
  background: #4169e2 0% 0% no-repeat padding-box;

  border-radius: 10px;
}
.childbtn2,
.childbtn1 {
  padding-top: 16px !important;
}
.icon1 {
  display: block;
}
.icon2 {
  display: none;
}

@media (max-width: 1000px) {
  .wrapper {
    width: 100%;
    margin-top: 100px !important;
  }

  .custom-style {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .card-body {
    margin-bottom: 10px !important;
  }
  .custom-card {
    border-top-left-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 700px;
    height: 102px;
    margin-left: 30px;
  }
  .content-writing {
    display: none;

    /* margin-left: 40px; */
  }
  .content-writing-small {
    display: block;
    margin-left: 30px;
    font-size: 13px;
    width: 700px;
    border-style: hidden;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    border-top-left-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-color: #4169e2 !important;
    background-color: rgba(65, 106, 226) !important;
    color: white;
    font-family: "Times New Roman", Times, serif;
  }
  .contact-wrapper {
    display: flex;
    margin-top: 320px;
    left: 0%;
    padding: 10px;
  }
  .content-wrapper {
    display: none;
  }
  .contact-wrapper-small {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 40px;

    width: 100%;
    justify-content: flex-end;
  }
  .input {
    width: 340px;
    height: 131px;
    border: 1px solid #bebfc5;
    border-radius: 10px;

    opacity: 1;
    text-align: left;
    font: normal normal medium 14px/18px Montserrat;
    letter-spacing: 0.56px;
    color: #555555;
    opacity: 0.5;
  }
  .childBody {
    text-align: center;
    margin-left: 10px;
  }
  .childbtn1 {
    height: 51px;
    width: 51px;
    background: rgba(65, 106, 226, 0.1) 0% 0% no-repeat padding-box;
    border-radius: 10px;

    margin-bottom: 30px;
  }

  .childbtn2 {
    width: 51px;
    height: 51px;
    background: #4169e2 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
  }
  .childbtn2,
  .childbtn1 {
    padding-top: 14px !important;
  }
  .icon2 {
    display: block;
  }
  .icon1 {
    display: none;
  }
  .contact-main-body {
    align-self: center;
  }
  @media (max-width: 600px) {
    .wrapper {
      width: 100%;
      margin-top: 100px !important;
    }

    .custom-style {
      width: 100%;
      display: flex;
      flex-direction: column;
    }
    .card-body {
      margin-bottom: 10px !important;
      margin-right: 20px;
    }
    .custom-card {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      width: 320px;
      height: 70px;
    }
    .content-writing {
      display: none;

      /* margin-left: 40px; */
    }
    .content-writing-small {
      display: block;
      font-size: 13px;
      width: 320px;
      border-style: hidden;
      padding-top: 15px;
      padding-bottom: 15px;
      padding-right: 15px;
      padding-left: 15px;
      border-top-left-radius: 0px;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border-color: #4169e2 !important;
      background-color: rgba(65, 106, 226) !important;
      font-family: "Times New Roman", Times, serif;
    }
    .contact-wrapper {
      display: flex;
      margin-top: 320px;
      left: 0%;
      padding: 10px;
    }
    .content-wrapper {
      display: none;
    }
    .card-container-style {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .contact-wrapper-small {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 40px;

      width: 100%;
      justify-content: flex-end;
    }
    .icon1 {
      display: none;
    }
    .input {
      width: 254px;
      height: 131px;
      border: 1px solid #bebfc5;
      border-radius: 10px;

      opacity: 1;
      text-align: left;
      font: normal normal medium 14px/18px Montserrat;
      letter-spacing: 0.56px;
      color: #555555;
      opacity: 0.5;
    }
    .childBody {
      text-align: center;
      margin-left: 10px;
      justify-content: space-between;
    }
    .childbtn1 {
      height: 50px;
      width: 50px;
      background: rgba(65, 106, 226, 0.1) 0% 0% no-repeat padding-box;
      border-radius: 10px;
    }
    .childbtn2 {
      width: 50px;
      height: 50px;
      background: #4169e2 0% 0% no-repeat padding-box;
      border-radius: 10px;
      opacity: 1;
    }
    .childbtn2,
    .childbtn1 {
      padding-top: 10px !important;
    }
    .icon2 {
      display: block;
    }
    .icon1 {
      display: none;
    }
    .contact-main-body {
      align-self: center;
    }
  }
}
