@import "./settings/mediaQuery";
.footer {
    background: #150F3F;
    margin-top: 3em;
    @include mobile {
        height: initial;
    }
}

.footer_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    @include mobile {
        flex-direction: column;
    }
    @media only screen and (device-width: 768px) and (device-height: 1024px) {
        flex-direction: row;
    }
}

.footer_container_row {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    @include mobile {
        width: 100%;
        margin-bottom: 3em;
    }
    &:last-child {
        @include mobile {
            margin-bottom: 0;
        }
    }
    .head {
        color: #EBF0FC;
    }
    a {
        color: #EBF0FC !important;
        text-decoration: none;
    }
    .social_buttons {
        width: 80%;
        display: flex;
        justify-content: space-between;
        .button {
            color: #EBF0FC;
        }
        .svg_button {
            svg {
                width: 1.5em !important;
                fill: #EBF0FC;
            }
        }
    }
}