@import "./settings/mediaQuery";
.head_component {
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include mobile {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: initial;
    }
    @include galaxy_s3_both {
        padding: 0 1em;
    }
    @media only screen and (device-width: 1024px) and (device-height: 1366px) {
        height: initial;
        padding-top: 10em;
    }
    @media only screen and (device-width: 800px) and (device-height: 1280px) {
        height: initial;
        padding-top: 10em;
    }
    @media only screen and (min-device-width: 1903px) and (max-device-width: 5000px) {
        height: initial;
        padding: 10em 0;
        background: red;
    }
}

.head_component_left {
    width: 40%;
    @include mobile {
        width: 100%;
        .main_text {
            font-size: 2rem !important;
            font-weight: 300 !important;
        }
    }
    @include iPad_1_2_mini_air_both {
        width: 70%;
    }
    @include galaxy_tab_2_both {
        width: 47%;
    }
    @media only screen and (device-width: 600px) and (device-height: 960px) {
        width: 80%;
    }
    @media only screen and (device-width: 240px) and (device-height: 320px) {
        width: 100%;
    }
    @media only screen and (min-device-width: 1903px) and (max-device-width: 5000px) {
        width: 40%;
    }
}

.head_component_right {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @include mobile {
        width: 100%;
        display: initial;
        margin: 5em;
    }
    @include galaxy_s3_both {
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    @include iPad_1_2_mini_air_both {
        width: 70%;
    }
    @include galaxy_tab_2_both {
        width: 47%;
    }
    @media only screen and (device-width: 600px) and (device-height: 960px) {
        width: 80%;
    }
    @media only screen and (device-width: 240px) and (device-height: 320px) {
        width: 100%;
    }
    img {
        width: 100%;
        @include mobile {
            width: 100%;
        }
        @include galaxy_s3_both {
            width: 80%;
            height: auto;
        }
    }
}

.input_one,
.input_two {
    height: 3em;
    border: 1px solid rgba(21, 15, 63, .5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    .text {
        height: 85%;
        width: 10%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0 .2em;
        p {
            margin-top: 1em;
        }
    }
}

.input_two {
    input {
        height: 85%;
        width: 70%;
        outline: none;
        padding: 0 1em;
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
        @include mobile {
            width: 65%;
        }
    }
    .country_code {
        height: 85%;
        width: 20%;
        @include mobile {
            width: 25%;
        }
        .dropdown {
            background: none !important;
        }
        .country-code {
            color: #fff;
        }
        .dropdown-arrow {
            display: none;
        }
    }
}

.get_started {
    height: 3em !important;
    text-transform: initial;
}