@import "./settings/mediaQuery";
.home_about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // height: 60vh;
    margin-top: 4em;
    @include mobile {
        margin-top: 4em;
        height: initial;
    }
    @media only screen and (device-width: 1024px) and (device-height: 1366px) {
        margin-top: 4em;
        height: initial;
    }
    @media only screen and (min-device-width: 1903px) and (max-device-width: 5000px) {
        height: initial;
        margin-top: 4em;
    }
}

.head_text {
    p {
        font-size: 2.5rem;
        font-weight: 600;
        color: #150F3F;
        position: relative;
        @include mobile {
            font-size: 2rem;
            height: initial;
        }
        &::after {
            content: "";
            position: absolute;
            bottom: -2%;
            left: 0;
            height: 6px;
            width: 80px;
            background: #150F3F;
            z-index: 1;
        }
    }
}

.home_about_sides {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3em;
    @include mobile {
        margin-top: 2em;
        flex-direction: column-reverse;
        img {
            width: 100%;
        }
    }
    @media only screen and (device-width: 768px) and (device-height: 1024px) {
        width: 70%;
    }
}

.home_about_card {
    background: rgba(65, 105, 226, .10);
    padding: 2em;
    width: 50%;
    @include mobile {
        width: 100%;
        margin-top: 1em;
    }
    p {
        color: #150F3F;
    }
}

.home_about_sides_img {
    width: 40%;
}