.about-container {
  position: relative;
  top: 63px;
  width: 100%;
}
.aboutTop {
  width: 100%;
  height: 265px;
  display: flex;
  justify-content: center;
  color: white;
  background-color: #4169e2;
}

.aboutTop p {
  font-family: Montserrat;
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  line-height: 43.88px;
  margin-top: auto;
  margin-bottom: auto;
}
.about-title {
  font-size: 24;
  font-weight: 600;
  font-family: Montserrat;
  margin-top: 65px;
  margin-bottom: 65px;
  text-align: center;
}
.about-content p {
  font-family: Montserrat;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  padding-bottom: 8px;
  margin-left: 20px;
}
.about-content {
  display: flex;
  align-items: center;
}
.main-second-section {
  width: 100%;
  height: 470px;
  margin-top: 20px;
}
.about-second-section {
  display: flex;
  justify-content: space-between;
  margin-top: 74px;

  color: #4169e2;
}
.about-second-title {
  text-align: center;
  font-size: 24;
  font-weight: 600;
  font-family: Montserrat;
  margin-bottom: 300px;
}
.second-section-paragraph1 {
  margin-left: 12px;
}
/* .second-section-content {
  text-align: start;
} */
li {
  font-size: 11px;
  color: #4169e2;

  font-size: 24;
  font-weight: 600;
  font-family: Montserrat;
  line-height: 32px;
}
li p {
  color: black;
}
.last-section {
  width: 100%;
  height: 265px;
  position: relative;
  bottom: 63px;
  display: flex;
  justify-content: center;
  color: white;
  background-color: #ebf0fc;
}
.last-section-content {
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
}
.last-section p {
  font-size: 24px;
  font-weight: 600;
  font-family: Montserrat;
  width: 100%;

  color: black;
}
.last-section-content button {
  background-color: #4169e2;

  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 27px;
  padding-right: 27px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
  font-family: Montserrat;
  line-height: 21.94px;
}
@media (max-width: 1200px) {
  .about-container {
    position: relative;
    top: 63px;
    width: 100%;
  }
  .about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main-second-section {
    width: 100%;
    height: auto;
    margin-top: 20px;
  }
  .about-second-section {
    display: flex;

    justify-content: space-between;
    margin-top: 74px;

    color: #4169e2;
  }
}
@media (max-width: 700px) {
  .about-container {
    position: relative;
    top: 63px;
    width: 100%;
  }
  .about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main-second-section {
    width: 100%;
    height: auto;
    margin-top: 20px;
  }
  .about-second-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 74px;

    color: #4169e2;
  }
}
