/* ----------- iPhone 4 and 4S ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- iPhone 6+, 7+ and 8+ ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- iPhone X ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- Galaxy S3 ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- Galaxy S4, S5 and Note 3 ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- Galaxy S6 ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- Google Pixel ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- Google Pixel XL ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- HTC One ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- Windows Phone ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- iPad 1, 2, Mini and Air ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- iPad 3, 4 and Pro 9.7" ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- iPad Pro 10.5" ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
/* ----------- iPad Pro 12.9" ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
/* ----------- Galaxy Tab 2 ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- Galaxy Tab S ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- Nexus 7 ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- Nexus 9 ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- Kindle Fire HD 7" ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- Kindle Fire HD 8.9" ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- Non-Retina Screens ----------- */
/* ----------- Retina Screens ----------- */
/* ----------- Apple Watch ----------- */
/* ----------- Moto 360 Watch ----------- */
.how_it_works {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 768px) {
  .how_it_works {
    height: initial;
    margin-top: 3em;
  }
}

@media only screen and (device-width: 800px) and (device-height: 1280px) {
  .how_it_works {
    height: initial;
    margin-top: 3em;
  }
}

@media only screen and (device-width: 1024px) and (device-height: 1366px) {
  .how_it_works {
    height: initial;
    margin-top: 3em;
  }
}

.what_escrow_head_text .p1 {
  font-size: 2.5rem;
  font-weight: 600;
  color: #150F3F;
  position: relative;
}

@media (max-width: 768px) {
  .what_escrow_head_text .p1 {
    font-size: 2rem;
  }
}

.what_escrow_head_text .p1::after {
  content: "";
  position: absolute;
  bottom: -2%;
  left: 0;
  height: 6px;
  width: 80px;
  background: #150F3F;
  z-index: 1;
}

.how_it_works_cards {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2em;
}

@media only screen and (device-width: 768px) and (device-height: 1024px) {
  .how_it_works_cards {
    width: 70%;
  }
}

.how_it_works_cards .buyer_tab,
.how_it_works_cards .seller_tab {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.how_it_works_cards .buyer_tab .how_it_works_card,
.how_it_works_cards .seller_tab .how_it_works_card {
  width: 50%;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1em;
}

@media (max-width: 768px) {
  .how_it_works_cards .buyer_tab .how_it_works_card,
  .how_it_works_cards .seller_tab .how_it_works_card {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
  }
}

@media only screen and (device-width: 768px) and (device-height: 1024px) {
  .how_it_works_cards .buyer_tab .how_it_works_card,
  .how_it_works_cards .seller_tab .how_it_works_card {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.how_it_works_cards .buyer_tab .how_it_works_card img,
.how_it_works_cards .seller_tab .how_it_works_card img {
  width: 18%;
  height: auto;
}

.how_it_works_cards .buyer_tab .how_it_works_card .icon,
.how_it_works_cards .seller_tab .how_it_works_card .icon {
  background: red;
  width: 18%;
}

.how_it_works_cards .buyer_tab .how_it_works_card .how_it_works_card_text,
.how_it_works_cards .seller_tab .how_it_works_card .how_it_works_card_text {
  width: 76%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.how_it_works_cards .buyer_tab .how_it_works_card .how_it_works_card_text span,
.how_it_works_cards .seller_tab .how_it_works_card .how_it_works_card_text span {
  color: #150F3F;
}
/*# sourceMappingURL=how_it_works.css.map */