.what_escrow {
    height: 60vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8em;
}

.what_escrow_head_text {
    width: 50%;
    .p1 {
        font-size: 2.5rem;
        font-weight: 600;
        color: #150F3F;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            bottom: -2%;
            left: 0;
            height: 6px;
            width: 80px;
            background: #150F3F;
            z-index: 1;
        }
    }
    .p2 {
        font-size: 100;
        span {
            color: #4169E2;
        }
    }
}

.what_escrow_head_image {
    width: 30%;
}