@import "./settings/mediaQuery";
.interactive_form {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  @include mobile {
    height: initial;
    margin-top: 6em;
  }
  @media only screen and (device-width: 768px) and (device-height: 1024px) {
    margin-top: 20em;
  }

  .interactive_form_sides {
    .tracks {
      display: flex;
      justify-content: center;
      align-items: center;
      .track {
        width: 1.5em;
        height: 1.5em;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(71, 71, 71, 0.418);
        
        span {
          color: #fff;
        }
      }
      .active_track {
        background: #4169e2;
      }
    }
    .seller_email {
      display: flex;
      justify-content: center;
      align-items: center;

      @include mobile {
        flex-direction: column;
      }
      @media only screen and (device-width: 768px) and (device-height: 1024px) {
        flex-direction: row;
      }

      .interactive_form_sides_button {
        background: rgba(85, 85, 85, 0.2) !important;
        color: #fff;
        height: 4em;
        @include mobile {
          display: none;
        }
        @media only screen and (device-width: 768px) and (device-height: 1024px) {
          display: initial;
        }
      }

      .interactive_form_sides_button_active {
        background: #4169e2 !important;
      }

      .interactive_form_sides_card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
      }

      .interactive_form_mobile_buttons {
        display: flex;
        justify-content: center;
        display: none;

        @include mobile {
          display: initial;
        }

        @include kindle_fire_hd_7_both {
          display: none;
        }
        @media only screen and (device-width: 768px) and (device-height: 1024px) {
          display: none;
        }

        .interactive_form_mobile_buttons_button {
          height: 4em;
          background: rgba(85, 85, 85, 0.2);
        }
        .interactive_form_mobile_buttons_button_active {
          background: #4169e2;
        }
      }
    }

    // .product_description {
    //   @include mobile {
    //     margin-bottom: -5em !important;

    //     .interactive_form_mobile_buttons {
    //       margin-top: 5em !important;
    //     }
    //   }
    // }

    .product_name {
    }
  }
}
