@import "./settings/mediaQuery";
.interactive_form {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  @include mobile {
    height: initial;
    margin-top: 6em;
  }
  @media only screen and (device-width: 768px) and (device-height: 1024px) {
    margin-top: 20em;
  }

  .interactive_form_sides {
    .tracks {
      display: flex;
      justify-content: center;
      align-items: center;
      // margin-bottom: 2em;
      .track {
        width: 2em;
        height: 0.4em;
        border-radius: 20px;
        background: rgba(85, 85, 85, 0.2);

        @include mobile {
          width: 0.5em;
          height: 0.5em;
        }
        @media only screen and (device-width: 768px) and (device-height: 1024px) {
          width: 2em;
          height: 0.4em;
        }
        @media only screen and (device-width: 800px) and (device-height: 1280px) {
          width: 1.5em;
          height: 0.5em;
        }
      }
      .active_track {
        background: #4169e2;
      }
    }
    .seller_email {
      display: flex;
      justify-content: center;
      align-items: center;

      @include mobile {
        flex-direction: column;
      }
      @media only screen and (device-width: 768px) and (device-height: 1024px) {
        flex-direction: row;
      }

      .interactive_form_sides_button {
        background: rgba(85, 85, 85, 0.2) !important;
        color: #fff;
        height: 4em;
        @include mobile {
          display: none;
        }
        @media only screen and (device-width: 768px) and (device-height: 1024px) {
          display: initial;
        }
      }

      .interactive_form_sides_button_active {
        background: #4169e2 !important;
      }

      .interactive_form_sides_card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        // background: rgba(65, 105, 226, 0.1);
        // width: 60%;
        // min-width: 60%;
        // max-width: 60%;

        // @include mobile {
        //   width: 95%;
        //   min-width: 95%;
        //   max-width: 95%;
        // }
        // @media only screen and (device-width: 320px) and (device-height: 568px) {
        //   width: 100%;
        //   min-width: 100%;
        //   max-width: 100%;
        // }
        // @media only screen and (device-width: 375px) and (device-height: 667px) {
        //   width: 100%;
        //   min-width: 100%;
        //   max-width: 100%;
        // }
        // @media only screen and (device-width: 414px) and (device-height: 736px) {
        //   width: 100%;
        //   min-width: 100%;
        //   max-width: 100%;
        // }
        // @media only screen and (device-width: 375px) and (device-height: 812px) {
        //   width: 100%;
        //   min-width: 100%;
        //   max-width: 100%;
        // }
        // @media only screen and (device-width: 280px) and (device-height: 653px) {
        //   width: 100%;
        //   min-width: 100%;
        //   max-width: 100%;
        // }

        // .icon {
        //   background: #feba4f;
        //   width: 6em;
        //   height: 6em;
        //   display: flex;
        //   justify-content: center;
        //   align-items: center;
        //   border-radius: 50px;
        //   position: relative;

        //   &::before {
        //     content: "";
        //     position: absolute;
        //     top: 50%;
        //     left: 50%;
        //     transform: translate(-50%, -50%);
        //     width: 6.8em;
        //     height: 6.8em;
        //     background: rgba(254, 186, 79, 0.2);
        //     border-radius: 50px;
        //   }
        // }
      }

      .interactive_form_mobile_buttons {
        display: flex;
        justify-content: center;
        display: none;

        @include mobile {
          display: initial;
        }

        @include kindle_fire_hd_7_both {
          display: none;
        }
        @media only screen and (device-width: 768px) and (device-height: 1024px) {
          display: none;
        }

        .interactive_form_mobile_buttons_button {
          height: 4em;
          background: rgba(85, 85, 85, 0.2);
        }
        .interactive_form_mobile_buttons_button_active {
          background: #4169e2;
        }
      }
    }

    // .product_description {
    //   @include mobile {
    //     margin-bottom: -5em !important;

    //     .interactive_form_mobile_buttons {
    //       margin-top: 5em !important;
    //     }
    //   }
    // }

    .product_name {
    }
  }
}
