@import "./settings/mediaQuery";
.read_more {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include mobile {
    margin-top: 2em;
  }
}

.read_more_section_one {
  width: 100%;

  @media only screen and (device-width: 768px) and (device-height: 1024px) {
    width: 70%;
  }

  .read_more_left_head {
    display: flex;
    justify-content: flex-start;
    p {
      color: #150f3f;
      width: 50%;
      @include mobile {
        width: 100%;
      }
    }
  }

  .read_more_cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    // margin-top: 3em;
    @include mobile {
      flex-direction: column;
    }

    .read_more_card {
      width: 32%;
      background: rgba(65, 105, 226, 0.1);
      display: flex;
      flex-direction: column;
      @include mobile {
        width: 100%;
        margin-bottom: 1em;

        &:last-child {
          margin-top: 0;
        }
      }
    }

    .card_head {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .read_more_card_avatar {
      width: 6.5em;
      height: 6.5em;
      background: #fff;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 0.8em solid #fff;
        background: transparent;
      }

      img {
        width: 80%;
        height: auto;
      }
    }
  }
}
