.signup {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.hero {
  width: 40%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 2em;
}

.hero .phone {
  height: auto;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4em;
}

.social p {
  font-size: 0.875rem;
  color: #555555;
  letter-spacing: 0.42px;
}

.social .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social .buttons .button {
  background: #555555 !important;
  border-radius: 10px;
  font-size: .8rem;
  padding: 0 1.3em;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  color: #fff !important;
}

.form {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 2em;
}

.head {
  width: 100%;
}

.head .logo {
  width: 4em;
  height: auto;
}

.head .text {
  font-size: 3rem;
  letter-spacing: 0.64px;
  color: #150F3F;
  font-weight: 300;
}

.head .small_text {
  font-size: 0.875rem;
  letter-spacing: 0.56px;
  color: #555555;
}

.head .inputs {
  width: 64%;
}

.head .inputs .input {
  height: 2.5em;
  margin-bottom: 1em;
  background: #EFF0F7;
  border-radius: 8px;
  width: 100%;
}

.head .inputs .input input {
  height: 100%;
  width: 100%;
  background: none;
  border: none;
  outline: none;
  padding: 0 1.0625rem;
  font-size: 0.875rem;
  color: #555555;
}

.head .inputs .input input::-webkit-input-placeholder {
  color: #4169E2;
  opacity: 0.5;
  letter-spacing: 0.56px;
}

.head .inputs .input input:-ms-input-placeholder {
  color: #4169E2;
  opacity: 0.5;
  letter-spacing: 0.56px;
}

.head .inputs .input input::-ms-input-placeholder {
  color: #4169E2;
  opacity: 0.5;
  letter-spacing: 0.56px;
}

.head .inputs .input input::placeholder {
  color: #4169E2;
  opacity: 0.5;
  letter-spacing: 0.56px;
}

.head .inputs .input select {
  width: 100%;
  height: 100%;
  padding: 0 1.0625rem;
  outline: none;
}

.head .inputs .phone_input {
  position: relative;
}

.head .inputs .phone_input .country_code {
  position: absolute;
  left: 0;
  height: 100%;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 8px 0 0 80px;
  background: #EFF0F7;
  outline: none;
}

.head .inputs .phone_input input {
  position: absolute;
  right: 0;
  padding-left: 0em;
  width: 80%;
}

.head .inputs .password {
  position: relative;
}

.head .inputs .password input {
  position: absolute;
  padding-right: 4em;
  outline: none;
}

.head .inputs .password .icon {
  position: absolute;
  right: 0;
  height: 100%;
  border-radius: 8px;
  font-size: .8rem;
  padding: 0 1.5em;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.head .inputs .other_signup {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1em;
}

.head .inputs .other_signup a {
  text-decoration: none;
  font-size: 0.875rem;
  color: #4169E2;
}

.head .inputs .submit_button {
  width: 100%;
  height: 2.5em !important;
  background: #4169E2 !important;
  color: #fff;
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.head .inputs .signup_route {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.head .inputs .signup_route p {
  font-size: 0.875rem;
  font-size: #555555;
}

.head .inputs .signup_route p a {
  color: #4169E2;
  text-decoration: none;
}
/*# sourceMappingURL=signup.css.map */