.signup {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    // padding: 0 8em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.hero {
    width: 50%;
    height: 80%;
    // background: red;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    .phone {
        width: 50%;
        height: auto;
    }
}

.social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4em;
    p {
        font-size: 0.875rem;
        color: #555555;
        letter-spacing: 0.42px;
    }
    .buttons {
        display: flex;
        .button {
            background: #555555 !important;
            border-radius: 10px;
            font-size: .8rem;
            padding: 0 1.3em;
            transition: .3s ease-in-out;
            color: #fff !important;
        }
    }
}

.form {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    // background: red;
}

.head {
    width: 100%;
    .logo {
        width: 5.1875em;
        height: auto;
    }
    .text {
        font-size: 4rem;
        letter-spacing: 0.64px;
        color: #150F3F;
        font-weight: 300;
    }
    .small_text {
        font-size: 0.875rem;
        letter-spacing: 0.56px;
        color: #555555;
    }
    .inputs {
        // width: 448px;
        width: 64%;
        .input {
            height: 3.5rem;
            margin-bottom: 1.375rem;
            background: #EFF0F7;
            border-radius: 8px;
            width: 100%;
            input {
                height: 100%;
                width: 100%;
                background: none;
                border: none;
                outline: none;
                padding: 0 1.0625rem;
                font-size: 0.875rem;
                color: #555555;
                &::placeholder {
                    color: #4169E2;
                    opacity: 0.5;
                    letter-spacing: 0.56px;
                }
            }
        }
    }
}