@import "./settings/mediaQuery";
.what_escrow {
    height: 60vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // margin-top: 8em;
    margin-top: 4em;
    @include mobile {
        height: initial;
        margin-top: 4em;
        flex-direction: column-reverse;
    }
    @media only screen and (device-width: 800px) and (device-height: 1280px) {
        height: initial;
        margin-top: 4em;
    }
    @media only screen and (device-width: 768px) and (device-height: 1024px) {
        height: initial;
        width: 70%;
    }
    @media only screen and (device-width: 1024px) and (device-height: 1366px) {
        height: initial;
        margin-top: 4em;
    }
}

.what_escrow_head_text {
    width: 50%;
    @include mobile {
        width: 100%;
        margin-top: 2em;
    }
    .p1 {
        font-size: 2.5rem;
        font-weight: 600;
        color: #150F3F;
        position: relative;
        @include mobile {
            font-size: 2rem;
        }
        &::after {
            content: "";
            position: absolute;
            bottom: -2%;
            left: 0;
            height: 6px;
            width: 80px;
            background: #150F3F;
            z-index: 1;
        }
    }
    .p2 {
        font-size: 100;
        span {
            color: #4169E2;
        }
    }
}

.what_escrow_head_image {
    width: 28%;
    @include mobile {
        width: 60%;
    }
    @media only screen and (device-width: 768px) and (device-height: 1024px) {
        width: 40%;
    }
}

.menu_card {
    background: rgba(255, 255, 255, 0.25) !important;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
}