@import "./settings/mediaQuery";
.who_can_use {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include mobile {
        height: initial;
        margin-top: 2em;
    }
    @media only screen and (device-width: 800px) and (device-height: 1280px) {
        height: initial;
        margin-top: 2em;
    }
    @media only screen and (device-width: 1024px) and (device-height: 1366px) {
        height: initial;
        margin-top: 2em;
    }
}

.who_can_use_head_text {
    .p1 {
        font-size: 2.5rem;
        font-weight: 600;
        color: #150F3F;
        position: relative;
        @include mobile {
            font-size: 2rem;
        }
        &::after {
            content: "";
            position: absolute;
            bottom: -2%;
            left: 0;
            height: 6px;
            width: 80px;
            background: #150F3F;
            z-index: 1;
        }
    }
}

.who_can_use_cards {
    width: 100%;
    margin-top: 3em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    @include mobile {
        flex-direction: column;
    }
    @media only screen and (device-width: 768px) and (device-height: 1024px) {
        width: 70%;
    }
}

.who_can_use_cards_card {
    width: 25%;
    padding: 3em 1.5em;
    background: rgba(65, 105, 226, .10);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    @include mobile {
        width: 100%;
        background: #ffffff;
        box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
        margin-bottom: 2em;
        padding: 1.5em;
    }
    @media only screen and (device-width: 800px) and (device-height: 1280px) {
        width: 32%;
        padding: 1.5em;
    }
    @media only screen and (device-width: 1024px) and (device-height: 1366px) {
        width: 32%;
        padding: 1.5em;
    }
    .img {
        width: 100%;
        padding: 1em 0;
        display: flex;
        justify-content: center;
        align-items: center;
        @include mobile {
            width: 100%;
            padding: 0;
        }
        img {
            width: 60%;
            @include mobile {
                width: 40%;
            }
        }
    }
    .texts {
        margin-top: 2em;
        .p1 {
            font-weight: bold;
            color: #150F3F;
        }
        .p2 {
            color: #150F3F;
        }
    }
}