@import "./settings/mediaQuery";
.why_trustpaddy {
    margin-top: 4em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .head_text {
        p {
            font-size: 3rem !important;
            @include mobile {
                font-size: 2.5rem !important;
            }
        }
    }
}

.sides {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2em;
    @include mobile {
        flex-direction: column-reverse;
    }
    @media only screen and (device-width: 768px) and (device-height: 1024px) {
        width: 70%;
    }
}

.left {
    width: 50%;
    @include mobile {
        width: 100%;
    }
    p {
        color: #150F3F;
        // margin-bottom: 2em;
    }
}

.right {
    width: 50%;
    @include mobile {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2em;
    }
    img {
        width: 90%;
        float: right;
    }
}